ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

@font-face {
  font-family: "Raleway";
  src: url("raleway.woff");
}

@font-face {
  font-family: "Raleway";
  src: url("/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("/Raleway/static/Raleway-Bold.ttf");
} 

body {
  font-family: "Raleway";
}
title {
  font-family: "Raleway";
}

h1 {
  font-size: 4rem;
}
button {
  font-family: "Raleway";
  font-size: 2rem;
  color: white;
  width: 15rem;
  height: 8rem;
  font-weight: bold;
  border-radius: 3rem;
  margin: 0 10px;
  background-color: #8e95e7;
}

.submit_button {
  font-family: "Raleway";
  font-size: 1rem;
  color: white;
  width: 15rem;
  height: 2rem;
  font-weight: bold;
  border-radius: 3rem;
  background-color: #8e95e7;
}

  
.tabs {
  font-family: "Raleway";
  background-color: #b9bac3;
  overflow: hidden;
  position: fixed;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
}

.tabs a {
  font-family: "Raleway";
  color: black;
  font-style: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
}

.tabs a:hover {
  font-family: "Raleway";
  background-color: #ddd;
  color: black;
}

/* Add a green background color to the active link */
.tabs a.active {
  font: "Raleway";
  background-color: #433495;
  /* color: white; */
}

/* Hide the link that should open and close the navbar on small screens */
.tabs .icon {
  display: none;
}

.tabicon {
  width: 4rem;
  height: 4rem;
}

img {
  max-width: 100%;  
  height: auto;  
}

.month {
  padding: 75px 50px;
  background: #8e95e7;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: rgb(22, 22, 22);
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 20px;
  font-size:20px;
  color: rgb(22, 22, 22);
}

.days li .active {
  padding: 5px;
  background: #8e95e7;
  color: white !important
}

.weight {
    font-size: 20px;
}

.weight .current {
    float: left;
    margin-left: 250px;
}

.weight .goal {
    float: right;
    margin-right: 250px;
}
  
.weight .goal .weight_num {
    font-size: 25px;
    font-family: Verdana, sans-serif;
    color: #8e95e7
}

.weight .current .weight_num {
    font-size: 25px;
    font-family: Verdana, sans-serif;
    color: #8e95e7
}

  .curve_chart {
    stroke: #8e95e7;
}  



.chart {
  max-width: 800px;
  margin: 50px auto;
}