@font-face {
    font-family: "Raleway";
    src: url("raleway.woff");
  }
  
  body {
    font-family: "Raleway";
  }
  title {
    font-family: "Raleway";
  }
  
  h1 {
    font-size: 4rem;
  }
  button {
    font-family: "Raleway";
    font-size: 3rem;
    color: white;
    width: 25rem;
    height: 4rem;
    font-weight: bold;
    border-radius: 3rem;
    background-color: #8e95e7;
  }
  
  .submit_button {
    font-family: "Raleway";
    font-size: 1rem;
    color: white;
    width: 15rem;
    height: 2rem;
    font-weight: bold;
    border-radius: 3rem;
    background-color: #8e95e7;
  }
  
  .tabs {
    font-size: 2.2rem;
    font-family: "Raleway";
    background-color: #b9bac3;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .tabs a {
    font-family: "Raleway";
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2.2rem;
  }
  
  .tabs a:hover {
    font-family: "Raleway";
    background-color: #ddd;
    color: black;
  }
  
  /* Add a green background color to the active link */
  .tabs a.active {
    font: "Raleway";
    background-color: #797a81;
    color: white;
  }
  
  /* Hide the link that should open and close the navbar on small screens */
  .tabs .icon {
    display: none;
  }
  
  img {
    width: 2rem;
    height: 2rem;
  }
  
  .weight {
    font-size: 20px;
}

.weight .current {
    float: left;
    margin-left: 250px;
}

.weight .goal {
    float: right;
    margin-right: 250px;
}
  
.weight .goal .weight_num {
    font-size: 25px;
    font-family: Verdana, sans-serif;
    color: #8e95e7
}

.weight .current .weight_num {
    font-size: 25px;
    font-family: Verdana, sans-serif;
    color: #8e95e7
}

  .chart {
    max-width: 800px;
    margin: 50px auto;
  }

  .rounded-input {
    font-family: "Raleway-Regular";
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }