@font-face {
  font-family: "Raleway";
  src: url("raleway.woff");
}

@font-face {
  font-family: "Raleway";
  src: url("/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("/Raleway/static/Raleway-Bold.ttf");
} 


body {
  margin: auto;
  max-width: 500px;
  text-align: center;
  font-size: 2rem;
  font-family: "raleway";
}

.profile {
  position: absolute;
  margin-right: 30px;
  margin-top: 30px;
  right:0;
  top:0;
}

.home {
  /* float: left; */
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
  left:0;
  top:0;
}

b { 
  font-family: "Raleway-bold";
}

title {
  font-family: "Raleway";
}

h1 {
  font-size: large;
  font-family: "Raleway";
}

button {
  font-family: "Raleway";
  font-size: 2.5rem;
  color: white;
  width: 25rem;
  height: 4rem;
  font-weight: bold;
  border-radius: 3rem;
  background-color: #8e95e7;
}

.homeButton {
  width: 15px;
  background-image: url(./pictures/apple.png);
}

.submit_button {
  font-family: "Raleway";
  font-size: 1rem;
  color: white;
  width: 15rem;
  height: 2rem;
  font-weight: bold;
  border-radius: 3rem;
  background-color: #8e95e7;
}

.reminders {
  font-family: "Raleway";
  font-size: 1rem;
  color: white;
  width: 13rem;
  height: 2rem;
  font-weight: bold;
  border-radius: 1rem;
  background-color: #8e95e7;
}

  
.tabs {
  font-family: "Raleway-bold";
  background-color: #b9bac3;
  overflow: hidden;
  position: fixed;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
}

.tabs a {
  font-family: "Raleway-bold";
  color: black;
  font-style: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
}

.tabs a:hover {
  font-family: "Raleway-bold";
  background-color: #ddd;
  color: black;
}

/* Add a purple background color to the active link */
.tabs a.active {
  font: "Raleway-bold";
  background-color: #433495;
  color: white;
  font-style: bold;
}

/* Hide the link that should open and close the navbar on small screens */
.tabs .icon {
  display: none;
}

.tabicon {
  width: 4rem;
  height: 4rem;
}

img {
  max-width: 100%;  
  height: auto;  
}

.reminder_bell {
  width: 1rem;
  height: 1rem;
}

input {
  width: 25%;
}

div {
  align-items: center;
}

.flex-container { 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 3rem;
  gap: 5rem;
  font-weight: bold;
  font-family: "raleway";
}

.goal-index { 
  text-align: left;
  font-size: 2rem;
  font-family: "raleway";
}

/* https://dev.to/shantanu_jana/circular-progress-bar-using-html-and-css-1oda */
@keyframes growProgressBar {
  0%, 33% { --pgPercentage: 0; }
  100% { --pgPercentage: var(--value); }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

div[role="progressbar"] {
  --size: 12rem;
  --fg: #433495;
  --bg: #c6c9e7;
  --pgPercentage: var(--value);
  animation: growProgressBar 3s 1 forwards;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: 
    radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
    conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
    ;
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--fg);
}

div[role="progressbar"]::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
}
