h1 {
  font-size: 3rem;
}

button {
  font-size: 2rem;
  width: 25rem;
  height: 4rem;
  border-radius: 5rem;
  font-weight: bold;
}

.tabs {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tabs a {
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
}

.tabs a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a green background color to the active link */
.tabs a.active {
  background-color: hsl(278, 41%, 50%);
  color: white;
}

/* Hide the link that should open and close the navbar on small screens */
.tabs .icon {
  display: none;
}
