@font-face {
    font-family: "Raleway";
    src: url("raleway.woff");
  }

  @font-face {
    font-family: "Raleway-Regular";
    src: url("/Raleway/static/Raleway-Regular.ttf")
  }

@font-face {
  font-family: "Raleway-Bold";
  src: url("/Raleway/static/Raleway-Bold.ttf")
}
  
  body {
    margin: auto;
    text-align: center;
    font-family: "Raleway";
  }

  title {
    font-family: "Raleway";
    font-size: large;
  }

  .header { 
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  h1 {
    font-family: "Raleway";
    font-size: 4rem;
    margin: auto;
  }
  
  button {
    font-family: "Raleway";
    font-size: 3rem;
    /* color: white;
    width: 25rem;
    height: 4rem;
    font-weight: bold;
    border-radius: 3rem;
    background-color: #8e95e7; */
  }

  .icon {
    border-radius: 25px;
    background-color: #8e95e7; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    position: fixed;
    left: 0;

  }

  .workoutSelection {
    border: thin;
    border-style: solid;
    border-color: black;
    width: fit-content;
    padding: 2rem;
    display: block;
    margin:0 auto;
    
  }

  .workoutButtons {
    display: inline-flex;
    margin: auto;
    flex-wrap: nowrap;
    gap: 1rem;

  }

  .roundedButton {
    width: 600px;
    height: 130px;
    padding: 1em;
    border-color: black;
    border-style: solid;
    background-color:none;
    font-size: 40px;
    font-weight: 40px;
    margin-top: 50px;
  }

  .buttonA {
    border-radius: 25px;
    width: 150px;
    height: 150px;
    
    background-color: #8e95e7;
    font-size: 30px;
    font-weight: 20px;
    font-weight: bold;
  }

  
.tabs {
  font-family: "Raleway";
  background-color: #b9bac3;
  overflow: hidden;
  position: fixed;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
}

.tabs a {
  font-family: "Raleway";
  color: black;
  font-style: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
}

.tabs a:hover {
  font-family: "Raleway";
  background-color: #ddd;
  color: black;
}

/* Add a green background color to the active link */
.tabs a.active {
  font: "Raleway";
  background-color: #433495;
  /* color: white; */
}

/* Hide the link that should open and close the navbar on small screens */
.tabs .icon {
  display: none;
}

.tabicon {
  width: 4rem;
  height: 4rem;
}

img {
  max-width: 100%;  
  height: auto;  
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.flexbox-item {
  width: 40%;
  height: 600px;
  border-radius: .5em;
  margin:10px;
  border: 2px solid #433495;
  background-color: #433495;
  box-shadow: 15px 15px #bdc2f5;
  font-size: 30px;
  color: white;
}

.flexbox-item-wide {
  width: 80%;
  height: 100px;
  border-radius: .5em;
  margin:auto;
  border: 2px solid #433495;
  background-color: #433495;
  /* box-shadow: 15px 15px #bdc2f5; */
  font-size: 30px;
  color: white;
}

.flexbox-item-input {
  width: 70%;
  height: 500px;
  /* border-radius: 0em; */
  margin:auto;
  border: 2px solid black;
  background-color: #e8e8e8;
  /* box-shadow: 15px 15px #bdc2f5; */
  font-size: 30px;
  color: black;
  overflow: auto;
}

.workout_list {
  font-size: 30px;
}

th {
  font-family: "Raleway-Bold";
  border: 1px solid #999;
  padding: 0.2rem;
}

td {
  border: 1px solid #999;
  padding: 0.2rem;
}

.trash {
  width: 10px;
}

.field-input {
  font-size: 40px;
}

input {
  font-family: "Raleway-Regular";
  font-size: 30px;
  
}